<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/userProfile.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="">
            <img src="/img/icons/317-3179753_message-box-png-message-box-icon-png-transparent.png" alt="">
        </a>
        <a href="">
            <img src="/img/icons/download-black-notification-bell-icon-png-11638985042go8osljf1q.png" alt="">
        </a>
        <input type="text">
    </div>
</body>
</html>