<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/orderStyle.css">
    <title>Document</title>
</head>
<body>
    <h1>Your Orders</h1>

    <div class="main-order-panel">
        <div class="order1">
            <div class="order-details">
                <div class="od-con order-id">
                    <label class="od-title" for="">order id</label>
                    <label class="od-content" for="">#3431</label>
                </div>
                <div class="od-con order-date">
                    <label class="od-title" for="">date purchased</label>
                    <label class="od-content" for="">09/11/2023</label>
                </div>
                <div class="od-con arrive-date">
                    <label class="od-title" for="">date arriving</label>
                    <label class="od-content" for="">09/11/2026</label>
                </div>
                <a class="m-ord" href="">Manage Order</a>
            </div>
            <div class="process-bar">
                <div class="process-graph">
                    <div class="pending">
                        <img src="/img/icons/pngfind.com-check-mark-symbol-png-2546448.png" alt="" srcset="">
                    </div>
                    <div class="processing"></div>
                    <div class="shipped"></div>
                </div>
            </div>
            <div class="total-products">
                <div class="prod1">
                    <div class="prod-pic">
                        <img src="/img/6850Sennheiser-HD-200-PRO.jpg" alt="">
                    </div>
                    <div class="prod-contents">
                        <label for="">Audient id4</label>
                        <label for="">audio interface</label>
                    </div>
                </div>
                <div class="prod1">
                    <div class="prod-pic">
                        <img src="/img/6850Sennheiser-HD-200-PRO.jpg" alt="">
                    </div>
                    <div class="prod-contents">
                        <label for="">Audient id4</label>
                        <label for="">audio interface</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>