<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/headerStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="main-header">
        <div class="left-side">
            <a href="">dropdown</a>
            <a href="/logout">logout</a>
            <a href="/<%= user + '/cart'%>">cart</a>
            <a href="">contact</a>
        </div>
        
        <div>
            <input type="text" name="search-bar" placeholder="Search">
        </div>

        <div class="right-side">
            <a href="" class="message">message</a>

            <a href="/<%= user + '/profile'%>">
                <div class="profile"></div>
            </a>
        </div>
    </div>
</body>
</html>