
body {
    font-family: sans-serif;
}

.main-cardWallet-panel {
    /* background: coral; */
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walletBalance {
    height: 10vh;
    width: 60vw;
    background-color: #aaaaff;
    text-align: center;
    border-top: 4px solid blue;
}

.cards {
    height: 70vh;
    width: 60vw;
    /* background-color: gray; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-panel {
    border: 2px solid;
    border-radius: 10px;
    height: 50vh;
    width: 54vw;
    margin-bottom: 3em;
    box-shadow: 1px 0px 4px 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.coupons {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-left: -11px;
}

.coupon1 {
    background-color: tomato;
    height: 9em;
    width: 16em;
    border-radius: 8px;
}

.coupon-options {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.6em;
    padding: 10px;
}

.coupon-options:hover {
    background-color: rgb(95, 95, 255);
    transition: 0.2s ease-out;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.first {
    background-color: #515151;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    font-family: sans-serif;
    margin-left: 1em;
}

.coupon-details {
    margin-left: 1em;
    font-size: 1.5em;
}

.first .offer {
    font-size: 43px;
    margin-left: 31px;
    font-family: system-ui;
    font-weight: 200;
}

.first .type {
    font-size: 1em;
    margin-left: 2em;
    margin-bottom: 25px;
}

.divide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
