<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginStyle.css">
    <title>Sign up</title>
</head>
<body>
    <form action="/signup_auth" method="post">
        <h1>Sign in</h1>
        
        <input type="text" name="fullname" placeholder="FullName">
        <input type="email" name="email" placeholder="Email" style="margin-bottom: 0px;">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password" placeholder="Config Password">

        <button>Sign up</button>
        <label for="">already have an Account?
            <a href="/">Login</a>
        </label>
    </form>
</body>
</html>