<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/orderStyle.css">
    <title>Document</title>
</head>
<body>
    <h1>Orders</h1>

    <div class="main-order-window">
        <div class="order-title">
            <label for="">Customer</label>
            <label for="">Name</label>
            <label for="">Price</label>
            <label for="">Payment</label>
            <label for="">Status</label>
        </div>
        <div class="order-content">
            <div class="order1">
                <label for="">romy</label>
                <label for="">adam a7x</label>
                <label for="">$1432</label>
                <label for="">cash on delivery</label>
                <label class="ord-proc" for="">in progress</label>
            </div>
            <div class="order1">
                <label for="">romy</label>
                <label for="">adam a7x</label>
                <label for="">$1432</label>
                <label for="">cash on delivery</label>
                <label class="ord-proc" for="">in progress</label>
            </div>
        </div>
    </div>
</body>
</html>